/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-dark-text: #161919;
    --color-light-text: #EBFDFF;
    --color-light-background: #EBFDFF;
    --color-dark-background: #161919;

    --color-gray-light: #979797;
    --color-gray-dark: #2D3436;  /* for card links on light mode */

    --color-first-footer-background: #222532;
    --color-first-footer-text: #CAF8FD;

    --color-second-footer-background: #1FE2F5;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #FF3305;
    --color-blue: #45BCE7;
    --color-green: #4AF6CD; /* for card links on dark mode */

    /* container sizes */
    --size-container-sm: 540px;
    --size-container-md: 720px;
    --size-container-lg: 960px;
    --size-container-xl: 1140px;
    --size-container-xxl: 1320px;
}

/* semantic color variables for this project */
:root {
    --color-text: var(--color-dark-text);
    --color-background: var(--color-light-background);
    --color-links: var(--color-gray-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--color-light-text);
        --color-background: var(--color-dark-background);
        --color-links: var(--color-green);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.5;
    font-family:
        Jost,
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    margin: 0 auto;
    font-weight: normal;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: var(--size-container-xl);
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    text-transform: uppercase;
}

.blue-transparent-btn {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
}

.orange-btn {
    border: none;
    background-color: var(--color-orange);
    color: var(--color-white);
}