/* color palette from <https://github.com/vuejs/theme> */
:root {
    --color-dark-text: #161919;
    --color-light-text: #EBFDFF;
    --color-light-background: #EBFDFF;
    --color-dark-background: #161919;

    --color-light-card-background: #e1fafb;
    --color-dark-card-background: #222532;

    --color-gray-light: #979797;
    --color-gray-dark: #2D3436;  /* for card links on light mode */

    --color-first-footer-background: #222532;
    --color-first-footer-text: #CAF8FD;

    --color-second-footer-background: #1FE2F5;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #FF3305;
    --color-blue: #45BCE7;
    --color-green: #4AF6CD; /* for card links on dark mode */
 
    --color-success: #0c5b2d;
    --color-error: #a51b1b;
    --color-warning: #c6801d;

    /* container sizes */
    --size-container-sm: 540px;
    --size-container-md: 720px;
    --size-container-lg: 960px;
    --size-container-xl: 1280px;
    --size-container-xxl: 1320px;

    /* font sizes */
    --font-size-xxxs: 0.625rem; /* 10px */
    --font-size-xxs: 0.75rem; /* 12px */
    --font-size-xs: 1rem; /* 16px */
    --font-size-sm: 1.25rem; /* 20px */
    --font-size-md: 1.5rem; /* 24px */
    --font-size-lg: 1.75rem; /* 28px */
    --font-size-xl: 2rem; /* 32px */
    --font-size-xxl: 2.25rem; /* 36px */
    --font-size-xxxl: 3rem; /* 48px */

    /* font weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --btn-border-radius: 5px;
    --card-border-radius: 5px;
    --form-border-radius: 10px;
}

/* semantic color variables for this project */
:root {
    --color-text: var(--color-dark-text);
    --color-background: var(--color-light-background);
    --color-links: var(--color-gray-dark);
    --color-card-background: var(--color-light-card-background);
    --color-form-background: var(--color-white);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-text: var(--color-light-text);
        --color-background: var(--color-dark-background);
        --color-links: var(--color-green);
        --color-card-background: var(--color-dark-card-background);
        --color-form-background: var(--color-gray-dark);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

a {
    text-decoration: none;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: var(--font-size-xxl); /* 36px */
}

h2 {
    font-size: var(--font-size-xl); /* 32px */
}

h3 {
    font-size: var(--font-size-lg); /* 28px */
}

h4 {
    font-size: var(--font-size-md); /* 24px */
}

h5 {
    font-size: var(--font-size-sm); /* 20px */
}

h6 {
    font-size: var(--font-size-xs); /* 16px */
}

p {
    font-size: var(--font-size-xs); /* 16px */
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.5;
    font-family:
        Jost,
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: var(--font-size-xs); /* 16px */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header, footer {
    width: 100%;
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
    padding-bottom: 90px;
}

#app {
    margin: 0 auto;
    font-weight: normal;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: var(--size-container-xl);
    margin: 0 auto;
}

