/*============================================================================
    Buttons
============================================================================*/
.btn {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs); /* 16px */
    line-height: 1;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: var(--btn-border-radius);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    transform: translateY(-1px);
}

.blue-transparent-btn {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
    box-shadow: 0;
}
 
.blue-transparent-btn:hover {
    box-shadow: 0 4px 12px rgba(69, 188, 231, 0.3);
}

.orange-btn {
    background-color: var(--color-orange);
    color: var(--color-white);
    box-shadow: 0;
}

.orange-btn:hover {
    box-shadow: 0 4px 12px rgba(255, 51, 5, 0.3);
}

.primary-form-btn {
    width: 100%;
    padding: 14px 16px;
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0;
}

.primary-form-btn:hover:not(:disabled) {
    background-color: #008fb3;
    box-shadow: 0 4px 12px rgba(0, 168, 204, 0.3);
}

.primary-form-btn:hover:disabled {
    background-color: var(--color-gray-light);
    box-shadow: 0;
    transform: translateY(0);
    cursor: not-allowed;
}

.primary-form-btn:disabled {
    background-color: var(--color-gray-light);
    cursor: not-allowed;
}

.secondary-form-btn {
    width: 100%;
    border: 3px solid var(--color-text);
    background-color: transparent;
    color: var(--color-text);
    box-shadow: 0;
}

.secondary-form-btn:hover:not(:disabled) {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.secondary-form-btn:disabled {
    border: 3px solid var(--color-gray-light);
    color: var(--color-gray-light);
    cursor: not-allowed;
}